# Ignore ONLY large data files (>100MB)
*.parquet
*.csv
*.joblib
*.png

# Python
__pycache__/
*.py[cod]
*$py.class
.env
.venv
env/
venv/
ENV/

# OS
.DS_Store
Thumbs.db

# Backups and Temp
*.bak
*.tmp
